<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <td id='hver' *ngFor="let param of params" (click)="paramDetail(param.id)"> {{ param.id }}</td>
        </tr>
    </table> <br> 
    
    <table id="detailPara">
        <tr>
            <th *ngFor ="let  col of columns">{{ col }}</th>
        </tr>
        <tr *ngFor="let detail of detailPara">
            <td *ngFor="let col of index">{{ detail[col] }}</td>
        </tr>
    </table>
</body>
</html>