<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Downloads</title>
</head>
<body>
    <table>
            <thead>
                <tr>
                    <th>File Identifier</th>
                    <th>ID</th>
                    <th>File Name</th>
                    <th>New Name</th>
                    <th>Date</th>
                    <th>File Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            
            <tbody *ngFor="let log of lastLog">
                <tr>
                    <td>{{ log.fileIdentifier }}</td>
                    <td>{{ log.id }}</td>
                    <td>{{ log.filename }}</td>
                    <td>{{ log.renamedName }}</td>
                    <td>{{ log.downloadDate }}</td>
                    <td>{{ log.fileType }}</td>
                    <td>{{ log.status }}</td>
                </tr>
            </tbody>
    </table>
</body>
</html>